.shell {
    border: 2px solid #2196F3;
    height: 50vw;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3F2FD;
}

div{
    background-color: #BBDEFB;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1{
    margin: auto;
    color: #2196F3;
}
/* 
.parent{
    display: flex;
    justify-content: center;
} */

button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #1976D2;
}